{% extends 'base1.html' %}

{% block content %}
<main>
  <h1>Accounts</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Number of receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for account_item in account_items %}
        <tr>
          <td>{{ account_item.account.name }}</td>
          <td>{{ account_item.account.number }}</td>
          <td>{{ account_item.count_items }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<main>
{% endblock %}
