{% extends 'base1.html' %}

{% block content %}
<main>
  <h1>Expense Categories</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for category_item in category_counts %}
        <tr>
          <td>{{ category_item.category.name }}</td>
          <td>{{ category_item.count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<main>
{% endblock %}
